.close {
	border-radius: 5px 5px 5px 5px;
	box-shadow: none;
	font: bold 131% sans-serif;
	padding: 0 6px 2px;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.9;
	cursor: pointer;
	transition:all 0.3s linear;
}
.close:hover {
	color: #fff;
	background-color: #000;
}

.button {
	background-color: #2b91af;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

//social likdes styles//
#soc {
  margin-top: 0;
  margin-left: 0;
  margin: 0 auto;
  width: 320px;
  height: 40px;
  border-radius: 3px;
  /*border: 1px #dadada solid;*/
  background-color: transparent;
  /*background-color: #eeeeee;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*float: left;*/ }

#soc1 {
  width: 205px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 42px;
  padding-left: 0;
  margin-left: -25px; }

#soc2 {
  width: 130px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 28px; }

//------social likdes styles end----//